body {
    margin: 24px 48px;
}

.output-json {
    display: block;
    width: 100%;
}

.btn-export {
    margin: 0 0 12px 0;
}

.xsmall {
    font-size: x-small;
}

.subtitled h2 {
    margin: 1.5em 0 0 0;
}

.subtitle p {
    margin: 0;
}

.subtitle {
    margin: 0 0 1.5em 0;
}

.status {
    margin: 24px 0 12px 0;
}

.status-line-url {
    color: grey;
    text-decoration: none;
    font-size: small;
}

.label-input-empty {
    font-weight: bold;
}

.api-parameters {
    display: block;
    /*display: table;*/
}

.api-parameter {
    /*display: table-row;*/
    display: block;
    /*min-height: 1.4em;*/
    margin-bottom: 12px;
}

.api-parameter-cell {
    min-width: 7em;
    min-height: 1.8em;
    /*display: table-cell;*/
    display: inline-block;
}

.api-parameter-label {
    width: 15em;
}

.api-parameter-input {
}

.frame-output {
    height: 48px;
    width: 100%;
}

.btn-authorize-token {
    margin: 0 0 024px;
}

.btn-big {
    width: 100%;
    min-height: 48px;
}

.btn-create-session {
    /*margin: 24px 0;*/
}

.instruction {
    font-size: small;
}

.all-set {
    margin: 12px 0 0 0;
    font-weight: bold;
    text-align: center;
}

input {
    background-color: white;
}

textarea {
    background-color: white;
}

input[type=submit] {
    background-color: #eee;
}

input[type=checkbox] {
    background-color: #eee;
    color: #333;
}

button {
    background-color: #eee;
}

input[type=text] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #eee 2px solid;
    background: #f8f8f8;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.4em 0.8em 0.2em 0.8em;
}

input[type=text][disabled] {
    background: #7e7e7e;
    border-bottom: #717171 2px solid;
}

input[type=text]:focus {
    border-bottom: #b9b9b9 2px solid;
}

.btn-side {
    margin-left: 1em;
}

.output-tall {
    min-height: 144px;
}

.output-librefm-scrobble {
    border: 0;
    height: 96px;
    display: block;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.scrobble-output-holder {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
}

.btn-scrobble-libre {
    width: 100%;
    border: none;
    margin: 0;
    padding: 12px 0;
}

.btn-close {
    width: 10%;
    display: inline-block;
    /* height: 100%; */
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 0;
    background: #FFF url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTE5LDYuNDFMMTcuNTksNUwxMiwxMC41OUw2LjQxLDVMNSw2LjQxTDEwLjU5LDEyTDUsMTcuNTlMNi40MSwxOUwxMiwxMy40MUwxNy41OSwxOUwxOSwxNy41OUwxMy40MSwxMkwxOSw2LjQxWiIgLz48L3N2Zz4=) no-repeat center;
}

.btn-close:hover {
    width: 10%;
    display: inline-block;
    /* height: 100%; */
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 0;
    background-color: #eee;
}

.scrobble-page-holder {
    position: relative;
}